@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --primary: #4B09B3;
    --secondary: #FE8C01;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: var(--primary);
    margin: 10px;
}

img {
    width: 33px;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container,
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.container div {
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.container span {
    color: #FE8C01;
}

.container .box {
    position: relative;
    width: 300px;
    color: var(--primary);
    border-radius: 10px;
}

.container .box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    height: 100%;
    background: url(/img/bitcoin.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .2;
}